<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <div class="col-md-8">

    <%= render 'follow_form' if logged_in? %>

    <%# @user.micropostsが空でない場合 %>
    <% if @user.microposts.any? %>
      <h3>Microposts (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <%# 下記の記述で、_micropost.html.erbパーシャルが表示される %>
        <%= render @microposts %>
      </ol>
      <%#
          下記の記述で@micropostsのページ表示が実現される
          なお、will_paginateメソッドを使えるようにするには、
          モデル側で@micropostsを取得するときにpaginateメソッドで
          取得する必要がある。ここではmicropostsはUserモデルに紐付いて
          いるので、Userコントローラ上のアクションでpaginateメソッドを
          使用する。
          [UsersController#show]
            @microposts = @user.microposts.paginate(page: params[:page])
        %>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>
